.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  height: 775;

  .footerWrapper {
    height: 743.3px;
    display: flex;
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 103px;

    p {
      display: flex;
      align-items: flex-end;
    }

    .policyContent {
      display: flex;
      align-items: flex-end;

      padding-left: 25rem;

      p {
        padding: 1rem;
      }
    }
  }
}
