.ContentForm {
  h2 {
    color: var(--blue-800);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid #bbdc582f;
    background-color: #f6f6f67a;
    font-weight: 400;
    font-size: 1rem;

    &::placeholder {
      color: var(--blue-300);
    }

    & + input {
      margin-top: 1rem;
    }
  }
  button[type="submit"] {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    background-color: var(--green-400);
    color: var(--white);
    border-radius: 0.5rem;
    border: 0;

    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
