
.homeContent {
  @mixin responsive($screen) {
    @if $screen == mobile {
      @media screen and (min-width: 320px) and (max-width: 767px) {
        @content;
      }
    } @else if ($screen == tablet) {
      @media screen and (min-width: 768px) and (max-width: 1999px) {
        @content;
      }
    } @else if ($screen == desktop) {
      @media screen and (min-width: 1200px) {
        @content;
      }
    }
  }

  margin: 0 auto;
  .illustration {
    @include responsive(mobile) {
      display: none;
    }
    right: 0;
    display: flex;
    margin-top: -80px;
    z-index: -1;
    height: 743.3px;
    position: absolute;
  }

  .footer {
    @include responsive(mobile) {
      display: none;
    }

    right: 0;
    display: flex;
    position: absolute;
    height: 672px;
  }
}
