.illustration {
  right: 0;
  display: flex;
  margin-top: -80px;
  z-index: -1;
  height: 743.3px;
  position: absolute;
}
.footer {
  right: 0;
  display: flex;
  position: absolute;
  height: 672px;
}
