.homeContent {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;

  .illustration {
    right: 0;
    display: flex;
    margin-top: -80px;
    z-index: -1;
    height: 743.3px;
    position: absolute;
  }
}
