.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;

  strong {
    font-size: 1.5rem;
    color: var(--green-400);
  }

  nav {
    margin-left: 137px;
    padding: 4rem;

    a {
      padding: 1rem;
      text-decoration: none;
      color: var(--white);
    }
  }

  button {
    width: 130px;
    height: 52px;
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--green-400);
    font-weight: bold;
  }
}
