* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  @mixin responsive($screen) {
    @if $screen == mobile {
      @media screen and (min-width: 320px) and (max-width: 767px) {
        @content;
      }
    } @else if ($screen == tablet) {
      @media screen and (min-width: 768px) and (max-width: 1999px) {
        @content;
      }
    } @else if ($screen == desktop) {
      @media screen and (min-width: 1200px) {
        @content;
      }
    }
  }

  @include responsive(mobile) {
    // border: 1px solid green;
    width: 665px;
  }

  --green-400: #badc58;
  --blue-600: #2d3561;
  --blue-800: #1d164d;
  --blue-300: #9e9baf;

  --gray-000: ##fafafc;
  --gray-300: #707070;
  --gray-200: #b4b4b4;
  --gray-100: #bcbcbc;
  --white: #ffffff;

  @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }

  @media (max-width: 720) {
    html {
      font-size: 85.5%;
    }
  }

  h1,
  strong,
  textarea {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  a,
  nav {
    font-weight: regular;
    font-family: "Montserrat", sans-serif;

    @include responsive(mobile) {
      width: 17.87rem;
    }
  }
  p,
  button {
    font-family: "muli";
    font-weight: regular;
  }

  .react-modal-overlay {
    background-color: rgba(0, 0, 1, 0.383);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .react-modal-content {
    width: 100%;
    max-width: 742px;
    background-color: var(--white);
    padding: 3rem;
    border-radius: 8px;

    @include responsive(mobile) {
      width: 400px;
      padding: 1.5rem;
    }
  }
}
