* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --green-400: #badc58;
  --blue-600: #2d3561;
  --blue-800: #1d164d;
  --blue-300: #9e9baf;

  --gray-000: ##fafafc;
  --gray-300: #707070;
  --gray-200: #b4b4b4;
  --gray-100: #bcbcbc;
  --white: #ffffff;

  background: #ececec;

  @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }

  @media (max-width: 720) {
    html {
      font-size: 85.5%;
    }
  }

  @mixin responsive($screen) {
    @if $screen == mobile {
      @media screen and (min-width: 320px) and (max-width: 767px) {
        @content;
      }
    } @else if ($screen == tablet) {
      @media screen and (min-width: 768px) and (max-width: 1999px) {
        @content;
      }
    } @else if ($screen == desktop) {
      @media screen and (min-width: 1200px) {
        @content;
      }
    }
  }

  h1,
  strong,
  textarea {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  a,
  nav {
    font-weight: regular;
    font-family: "Montserrat", sans-serif;
  }
  p,
  button {
    font-family: "muli";
    font-weight: regular;
  }
}
