* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
   --green-400: #BADC58
   --blue-600: #2D3561;
   --blue-800:#1D164D;
   --blue-300:#9E9BAF;

   --gray-300:#707070;
   --gray-200:#B4B4B4;
   --gray-100:#BCBCBC;
   --white: #FFFFFF;

}

body {
  @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }   
  }

  @media (max-width: 720) {
    html {
      font-size: 85.5%;
    }
  }

  h1,strong,textarea,button{
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
  }

}
