.bannerWrapper {
  height: 743.3px;
  display: flex;
  justify-content: flex-start;

  align-items: center;

  .bannerSearch {
    max-width: 25.75rem;
    font-size: 2.3rem;
  }

  .inputContent {
    margin-top: 16px;
    display: flex;

    input {
      width: 300px;
      height: 52px;
      border: 1px solid var(--blue-600);
      border-radius: 5px;
      padding-left: 10px;
    }
  }

  .searchContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;

    border: 0;

    cursor: pointer;

    width: 52px;
    height: 52px;
    background-color: var(--green-400);
    border-radius: 8px;
  }
}
